headerText = #b8b033
caterColor = #9d2936
headerBG = #26403e
headers = #39605e



.App {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr auto;
}

.app-header
    background-image: url('./images/logo.jpg')
    background rgba(57, 96, 94, .8)
    color headerText
    display grid 
    justify-items center
    padding-left: 410px
    h1 
        font-size: 35px !important

.app-nav
    background rgba(57, 96, 94, .8)
    color headerText 
    display grid 
    justify-items end
    padding-right: 85px;

.app-nav h2 
    color caterColor

.menu 
    grid-column: 1/4
    display grid 
    grid-template-columns: 3fr 1fr
    background-color: #dfeceb
    padding: 0px 10px 0px 0px
 
.menuItems
    ul  
        list-style-type: none
        padding-left: 20px
    li  
        transition all .5s
    h1 
        display: flex 
        justify-content: center
        background-color: headers 
        color white
        border-radius: 20px
    h2  
        display inline-block
        margin: 10px 0px 0px 25px;
    h3 
        display inline-block
        margin: 10px 10px 0px 25px;
        float: right
     
.id 
    color red
.idTop 
    color red
    width 40px
  
li:hover 
    background-color headerBG
    color white

.extras 
    margin-left: 75px

.options 
    margin-left: 100px !important


.sides 
    border-bottom: 5px solid headers
    ul 
        list-style-type none 
    li 
        height 100px
        transition all .5s
        @media screen and (max-width 760px)
            height 200px
            background-color: #009933
    h2 
        display: block !important

.coldSandwiches
    margin-top: -150px
    h1 
        display: flex 
        justify-content: center
        background-color: headers 
        color white
        border-radius: 20px
    @media screen and (max-width 760px) 
        margin-top: 5px;


.clubSandwiches
    grid-column: 1/2
    h1 
        display: flex 
        justify-content: center
        background-color: headers 
        color white
        border-radius: 20px
.wrapsSalads
    grid-column: 1/2 
    h1 
        display flex 
        justify-content: center
        background-color: headers 
        color white
        border-radius: 20px
.salads 
    margin-left: 100px !important

.hamburgers 
    grid-column: 1/2
    h1 
        display: flex 
        justify-content: center
        background-color: headers 
        color white
        border-radius: 20px
.footer 
    grid-column: 1/3
    display grid
    grid-template-columns: 2fr 2fr
    background headerBG 
    color white
    border-bottom: 30px groove headers
    border-top: 20px groove headers
    padding-bottom: 10px
    h1 
        border-bottom: solid 2px headers
    h2 
        display: inline-block
        margin: 0px 10px 0px 0px;
        width: 75px
    ul  
        list-style-type: none
        margin: 0
    li:hover 
        color #afcfcd
   
