headerText = #b8b033
caterColor = #9d2936
headerBG = #172726


.App {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr auto;
}

.app-header
    background headerBG
    color headerText
    display grid 
    justify-items center

.app-nav
    background headerBG
    color headerText 
    display grid 
    justify-items center

.app-nav h2 
    color caterColor